$header-font: -apple-system, ".SFNSDisplay-Light", HelveticaNeue, Helvetica, Arial, "Lucida Grande", sans-serif;
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono|Open+Sans);

body {
  font-family: Open Sans, sans-serif;
}

// The header which the content will slide over.
.splash-container {
    background: #B24592; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #B24592 , #F15F79); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #B24592 , #F15F79); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    z-index: -1;
    /* The following styles are required for the "scroll-over" effect */
    width: 100%;
    height: 500px;
    top: 0;
    left: 0;
    position: fixed !important;
}

.splash-content {
    height: 250px;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;

    h1 {
      font-weight: 100;
      font-size: 6vmax;
      font-family: Roboto Mono;
    }

    p {
      opacity: 0.8;
      font-size: 3vmin;
      font-family: Roboto Mono;
    }
}

.term::after {
  content: '_';
  opacity: 0;
  animation: cursor 1s 5;
}

@keyframes cursor {
	0% {
		opacity: 0;
	}
	40% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	90% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.pusheen {
   width: 128px;
   height: 157px;
   position: relative;
   top: 30px;
}

// Content wrapped in this slides over the header.
.content-wrapper {
    /* These styles are required for the "scroll-over" effect */
    position: absolute;
    top: 250px;
    width: 100%;
    z-index: 0;
    background: white;
    -webkit-box-shadow: 0px 24px 43px 10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 24px 43px 10px rgba(0,0,0,0.75);
    box-shadow: 0px 24px 43px 10px rgba(0,0,0,0.75);
}

// Pad the content below the navbar when it sticks to the top.
.pad-content {
  padding-top: 54px !important;
}

@media (max-width: 576px) {
  nav .container {
    padding-left: 0;
    padding-right: 0;
  }
}

//For centering of brand in navbar.
.center-nav {
  display: inline-block;
  left: 0;
  right: 0;
  margin:0;
  float:none;
  .navbar-brand {
    padding: 0;
    margin: 0;
    position: relative;
    top: 5px;
  }
}

.navbar {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
